/* grid.component.css */
.grid-container {
    padding: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100% of the viewport height */
    margin-left: 580px;
    margin-top: 100px;
  }
  
  .mat-grid-list {
    max-width: 300px; /* Set a maximum width for the grid */
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 24px;
  }
  
  .cell:hover {
    background-color: #d3d3d3;
  }
  
  .winner {
    color: green;
    font-size: 20px;
    font-weight: bold;
  }
  